@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "TT_Norms_Pro_Serif_Light";
  font-style: normal;
  font-weight: normal;
  src: url("$lib/assets/TT_Norms_Pro_Serif_Light.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "AstroWeb-20";
  font-style: normal;
  font-weight: normal;
  src: url("$lib/assets/AstroWeb-20.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "MaterialSymbolsOutlined";
  font-style: normal;
  font-weight: normal;
  src: url("$lib/assets/MaterialSymbolsOutlined.woff2") format("woff2");
  font-display: swap;
}
.material-icons {
  font-family: "MaterialSymbolsOutlined";
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* scroll-behavior: smooth; */
}
html:has(dialog[open]) {
  overflow: hidden;
}
body {
  font: 1em "TT_Norms_Pro_Serif_Light", serif;
  margin: 0;
  background: white;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 1em "AstroWeb-20", serif;
  font-weight: unset;
}
h1 {
  font-size: 1.8rem;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
h2 {
  font-size: 1.4rem;
}
.h2 {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto 1rem;
}
.h2 h2 {
  padding: 0 8px 4px 0;
  white-space: nowrap;
  font-style: italic;
}
.h2 span {
  height: 1px;
  width: 100%;
  background-color: black;
}
p {
  margin: revert;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  padding: revert;
}
ol {
  padding-left: 16px;
}
button {
  display: block;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}
img,
picture,
svg {
  display: block;
  object-fit: contain;
}
.icons {
  height: 1cap;
  width: 1cap;
  font-size: 1.8rem;
  vertical-align: sub;
  display: inline-block;
}
.eyecatch {
  object-fit: cover;
}
input,
textarea {
  display: block;
  max-width: 100%;
  color: black;
  padding: 6px;
  border: 1px solid black;
  border-radius: 4px;
}

/* MAIN */
main {
}
.contain {
  max-width: 984px;
  margin: auto;
  padding: 8px;
}
.contain:first-child {
  margin: 56px auto 0;
}
.contain > .inner {
  max-width: 782px;
  margin: auto;
}
dl {
  border-top: solid 2px #ccc;
  border-right: solid 2px #ccc;
  border-left: solid 2px #ccc;
  color: #000;
}
dl dt {
  border-bottom: solid 2px #ccc;
  padding: 8px;
  background: #eee;
}
dl dd {
  border-bottom: solid 2px #ccc;
  padding: 8px;
  background: #fcfcfc;
}
.title,
.data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.prices {
  text-decoration: underline;
  color: blue;
}
